(((((SI,SGJ),((SCI,(((SCC,(SIH,SHC)),SCE),((SFJ,(SJG,(SGC,SC))),SJC))),((SIF,SDC),SGI))),((SEJ,SBE),(((SBAA,(((SHI,SCF),SJF),(SDE,SFB))),(SE,(SEF,((SFA,SF),(SBF,SIE))))),SIC))),(SGF,((SBD,SBJ),((SJE,SJA),SCB)))),((((SFD,((SBH,SGD),(SFG,SDF))),(SFI,((SJ,SDI),(SCA,SCG)))),((((SD,SGG),((SID,SFC),SFH)),(((SJH,(SGA,SBA)),(SJD,SHF)),((SHB,SEB),SHD))),(((SFF,SCJ),(((((SHA,(SBI,SEC)),SIG),SGH,(SED,(SEG,SDD))),SDH),((((SCD,SEH),(SHG,SEI)),((SFE,(SEE,SDA)),SDJ)),((SIA,(SDB,SDG)),(SJB,(SIJ,SBB)),(SCH,(SBC,((SHE,SGB),(SJJ,SIB)))))))),(((SBG,SH),(SHJ,SHH)),(SEA,SB))))),((SG,(SII,SJI)),SGE)));
