(((SGJ,((SIA,SDH),SCB)),(((((((((SIH,SD),(SFH,(SG,SGB))),((((SCD,SCJ),SCH),SC),((SGF,(SIC,(SHJ,SEE))),SGA))),((SIB,SJD),SBB)),(((((SCI,SB),SJF),((SDD,SDA),SHD)),(SDC,SEI)),(((SHE,SCC),(SCF,SJH)),(SBD,SII)))),(SED,(((SCG,SFE),SHA),SCA))),(SIJ,SEA)),(((((((SHC,SBG),SHG),SJI),(((SGC,SJ),((SJA,SDI),((SEG,SHB),((SI,SFC),SFG)))),SBI)),(((SJC,SGG),SHF),(SIF,((SJG,SIG),SE)))),((((SGI,SBF),SJB),((SEH,SJE),((SHI,SDG),SBAA))),(SCE,(SBA,SFA)))),((SFB,SBC),(SH,((SGH,(SBE,SFJ)),SFI))))),((SF,SIE),(SFF,SJJ)))),((SID,(((SDB,SEC),(SFD,(SBH,SEF))),((((SEJ,SBJ),SEB),SHH),(SDF,SGE)))),(SGD,(SDE,SDJ))));
