(((((SCF,(SHF,SEI)),(SII,SB)),(((SEG,SJH),((SJD,SFG),((((SDG,SGB),(SCA,SJI)),SJA),SCC))),(((SDH,(SCB,SDA)),(SHC,(SHB,SFE))),(SIH,(((SDB,SEE),((SEJ,SCD),SGC)),(SI,SIE)))))),(((((((((SBC,SGH),(SHI,SHJ)),(SBH,SGD)),SIF),SH),((((SIA,(SGE,SFB)),SEB),((SIJ,SC),(SCH,((SBA,SE),(SG,SGI))))),((SHE,SBAA),((SCI,SBE),SF)))),((SED,SJB),SDE)),((SIG,(SIB,SD)),(((SBF,SJ),(SEH,SHG)),SJE))),(((SGF,SFC),SDC),((SHA,SFA),SBB)))),(((((SHD,SJJ),((SBD,SGA),((((SEA,(((SBG,SDF),SBJ),(SGJ,SID))),(SFF,SFH)),(SDI,SJC)),SJF))),(SJG,SEC)),(SHH,((SFJ,SBI),((SGG,(SCE,((SFD,SEF),SCJ))),SFI)))),((SCG,SIC),(SDJ,SDD))));
