((SDA,((((((SHB,SCC),(((SEI,SEE),SCJ),SEA)),SFB),(((SFF,SHD),SID),(SBE,SEB))),(((SBA,SGH),(SGE,SHA)),(SIJ,SFD))),(((SJI,(((SJD,SFI),SJJ),(SCI,SBI))),SDE),SJE))),(((((SGA,((((SEF,SFA),SJF),(SEJ,SD)),SHC)),(SJG,SHJ)),((SDG,SCH),((SHG,(SCD,SE)),SGG))),((SIC,(((SCB,(SCE,SC)),((SGI,(SF,SHH)),(SFC,(SGC,SED)))),(((SDD,SCF),SFH),SIH))),(((SDC,(SBC,SFG)),(((SDB,((SGD,((SBH,(SII,SEC)),SFJ)),SBG)),((SH,SJB),((SBAA,(SI,SJH)),SJC))),(SIF,SBD))),SJA))),((((SDJ,(SCG,SDH)),SBJ),(SB,SDI)),((SHI,SIB),((((SIG,((SBF,SFE),SIE)),(SIA,(SEG,SGB),SG)),SGF),((SEH,(SDF,SBB)),(SGJ,(((SCA,SJ),SHE),SHF))))))));
