((((SI,((((SIA,SDJ),(SJD,SHH)),((SGC,SEE),SDE)),(((SEJ,(SJI,SH)),(SEF,SJB)),((SJG,SCA),(SEH,SIC))))),((((((SIE,(SJA,(SGH,(SHD,SGJ)))),(SFE,SG)),(SDA,SHA)),SIJ),(((((SGG,SDC),SBH),(SFA,SEI)),(SCB,((SHJ,SIB),SDB))),(SHB,(SHG,SCE)))),((SBC,SCD),((SFJ,SBB),(SFG,SGB))))),((SCF,SIF),((((SJH,SDG),SCI),(((((SC,SFH),SJC),((SFI,SFC),((SGD,SJJ),SED))),((SFD,(SEC,SHI)),(SDD,(((SCH,SJF),(SDF,SBF)),(SCC,SF))))),(((SCG,SBJ),SGF),((SDI,(SIG,SJ)),(SEG,SHE))))),(SFF,(SBI,SD))))),(((SBG,(SBE,SFB)),(((SEB,SJE),(SEA,(SHF,SGA))),(SGI,(SID,SCJ)))),((SBD,SBAA),((SHC,SDH),((SGE,SB),((SE,SII),(SIH,SBA)))))));
