((((SF,SGI),SDE),(((SJH,SIA),((SBJ,SCH),SEB)),(((SEJ,SHE),((SIE,(SDB,(SGB,SFI))),(SBE,SJA))),SED,((SHI,SCD),SBD)))),((((SC,SGC),SCC),((((((SBH,(SJJ,(SG,(SEG,(SHC,SJF))))),((SHA,SFE),SBF)),(((SGA,SHG),SHJ),(SBG,(SIB,SIJ)))),(((SII,(SGG,(SHH,SFH))),(SBC,(SDD,SHB))),(SH,((SDF,SDG),SFA)))),(SEH,(SCI,SJI))),((SBAA,SEI),(SDJ,SJC)))),((((((((SFG,SCE),(SEE,SEC)),SFB),(((SGF,SDC),((SEF,SGJ),(SCJ,SE))),(((SI,SBI),SD),SDI))),(((SJD,((SGH,SGD),SDA)),((SIF,(SDH,SIH)),((SFF,SEA),SFC))),SCA)),(((SFD,SIC),SJE),((SJG,SCG),SID))),((SJ,SBB),(SHF,(SBA,SHD)))),(SIG,(((SCF,SJB),SFJ),(SGE,(SB,SCB)))))));
