((((SEG,SCE),((SJA,((((SH,SJD),(SGC,SHG)),(((SGE,((SEC,SBG),SBF)),SCD),((SHD,(SFC,SCC)),(SDI,(SBI,SIC))))),(((SIE,((SDJ,SBA),(SD,((SHJ,SBAA),SEB)))),(SJH,SFG)),((SBJ,SDD),(SII,(SJI,SDE)))))),(((SCI,SHI),SDG),(SFF,SIA)))),((((SFD,SIB),(((SIF,SHC),((SCG,(SJB,SGB)),SFE)),SE)),(SHH,(SDF,SB))),(SEA,SFH))),((((SEI,SID),(SGI,((SJC,SG),SCH))),(SEE,((SFJ,((SCF,(SJJ,SGA,SHE)),SDC)),((SJ,(SEJ,SI)),SHF)))),(((SFI,SED),(((SIJ,((SGH,(SDH,SGD)),SBB)),SGJ),SBH)),((((((SGG,SF),(SEH,SJE)),((SCA,(SGF,(SEF,SFB))),((SFA,SDA),(SBE,SBC)))),(((SIH,SC),(SHB,SCB)),(SDB,(SJG,(SJF,SIG))))),(SBD,SHA)),SCJ))));
