((((SBG,((SJJ,SBH),SDC)),(SJD,SJ)),(((((((SCC,SIE),SH),SHH),((SBC,SF),SGA)),((SJH,(((SIJ,(SEH,SEE)),SGD),(SID,SCI))),(((SEB,SDE),SGE),(((((SCJ,(SDJ,SDH)),(((SFJ,(SFH,SCH)),SDI),SBI)),SGI),((SJA,(((SFI,SHF),(SHB,SJG)),SD)),SHJ)),(((((SIA,SCA),(SFD,(SIC,SI))),SGB),((SEJ,(SGH,SBA)),SBB)),((((SGG,SGC),((SCD,SJC),(SFC,SEF))),((SG,(SE,SJF)),SFA)),SCG)))))),(((SEI,(SFF,(SIH,SFE))),SBE),((((SBJ,SHI),(SDB,(SGF,(SHC,(SDD,SJI))))),(SBAA,(SCE,SIB))),((SEC,SCF),(SBF,SC))))),((SJE,SIF),SHG))),((((SFB,(SDA,SDG)),(SFG,(((SIG,SEG),SB),SED))),SHA),(((SEA,(SBD,SCB)),(SHD,SHE)),(SGJ,((SDF,SII),SJB)))));
