((((SDA,SHI),((SEH,((SEI,SFE),SHC)),(((SJI,SJ),SGF),SGA))),((((SDI,SDH),(((SIE,((((SIA,(SGC,SII)),SHB),SGD),((((SBJ,SCD),SB),SID),SD))),((SEJ,SCJ),(SDD,SHF))),((SEG,(SFH,SDE)),(SJH,SCI)))),(((((SED,(SCC,(SBG,SIJ))),(SBC,SEB)),(((SCG,(SH,SFC)),(SEE,SGB)),(SHH,((SBA,(SBB,SCA)),((SGJ,SGH),(SJF,SIB)))))),(SJA,(((SFF,SIF),SJC),SFI))),(((SEC,SF),((SEA,SCF),SDC)),((SJG,SHA),SFD)))),((((SFB,(SJJ,(SHG,SE))),SDB),((((SCH,SGI),(((SC,SFA),SG),(SIH,((SHJ,SGG),SHE)))),SFJ),(SDF,SJB))),(SCB,SIC)))),(((((SIG,(SDG,SJE)),SGE),(SFG,SBI)),((((SBH,SHD),(SJD,SEF)),SCE),((((SBF,SBE),SBD),SBAA),SI))),SDJ));
