((((SHC,((SGB,SEA),SJH)),(SFG,(SCB,(SEH,(SFH,(SJB,SG)))))),((((SE,SCJ),((SIG,(SHF,SHI)),SHH)),((SEC,((SDJ,(SGH,(SJG,SBAA))),(SJA,SFJ))),((SEB,(SBB,(SFA,SGJ))),(SDI,(SGC,SIA))))),(((((((SEF,(SCF,SII)),(SFD,SCH)),SDB),(SCD,(((SFF,(SCG,SGG)),((SDH,SGD),(SBD,SDD))),(SDC,SCE)))),((SJI,(SHG,(SGI,SJ))),(SDE,SJE))),(SID,SIB)),(((((SGF,SCI),(SHB,(((SHD,SBJ),SB),SIJ))),((SBE,SF),SED)),SFC),((SCA,SFE),(SEJ,SIH)))))),((SFI,((((SDG,SDA),(SBH,(SHA,(SCC,(SJC,(SJJ,(SGA,SIE)))))),SBF),(SD,((SIF,SBI),SHJ))),(((SI,SJD),(((SDF,SBG),SH),SEG)),(((SIC,SBC),(SEI,(SBA,SHE))),(SFB,(SEE,(SJF,SGE))))))),SC));
