(((((((((SCJ,SJE),((SIC,SFJ),SHJ)),(SDG,(SG,SGD))),(((((SBA,SIA),SIH),(SCB,SHH)),(((SDC,SEG),SH),(SEH,(SJH,SIG)))),(SGB,((SHB,SHF),(SIB,SBC))))),((((SEB,SGJ),(SJF,SEF)),SDB),(((SIJ,(SBAA,SEE)),((SCE,(SCD,(SBG,SEA))),(SHC,(((SC,SDE),SJD),(SHI,SII))))),SCA))),(((SBB,(SGI,((SCH,((SJI,SGA),SIF)),(SI,SHE)))),(SHA,(SBJ,SJA))),((((SGE,(SDH,SBE)),((SGH,SD),(SDF,((SEC,(SB,((SFC,(SBD,SF)),SFE))),((((SHD,SCF),((SDA,SDJ),SFH)),SBF),((SJC,SJJ),SFI)))))),SBH),((SID,SGF),((SFA,SJG),SFG))))),(SIE,(SCG,SDI))),((((SCC,SCI),SED),(SFB,(SJB,SGC))),(((SFF,SHG),SE),(SFD,SGG)))),((SBI,SDD),((SJ,SEJ),SEI)));
