((SDE,(((SCC,((SHJ,SDB),SCE)),((((SFB,SFG),SFI),SGG),(((SJA,SJD),SBI),SHD))),((SC,(((((SCF,SGH),SGE),(SIE,SHG)),(((SDI,(SDJ,SJB)),SBAA),SE)),SG)),((SEI,SHH),SGJ)))),((((SGI,(SEA,SBC)),(((SFE,(SJC,(SDG,SGC))),(SFC,SIJ)),((SCI,SJE),(SGB,(SEE,(SHF,SDC)))))),(SHC,(SJH,((SFD,SB),(SEH,((SII,SCA),(SBG,SEC))))))),(((SFH,(SIB,(SHI,SFA))),(SBF,SDF)),((((((SBE,SBH),(SCJ,((SHE,SGF),SJF))),(SIG,(SEB,SIA))),SDH),(((SF,SEG),(((SIF,(SIH,SID)),SGA),((SH,((SDD,SFF),(SCG,SBD))),SHB))),(SD,SHA))),((SGD,((((SBJ,SJJ),((SCB,SI),SCD)),SBA),((((SIC,SDA),SFJ),SJG),(SEJ,((SCH,(SJI,SEF)),(SED,SBB)))))),SJ)))));
