((((((SCG,SEH),(SGD,SEE)),(((((SHF,SEC),SBG),SHB),SHC),SJE)),(SHI,(SCB,(SE,SDI)))),(((((SCJ,(SJI,SFA)),SFG),((SFJ,((SBC,(SID,SGI)),(SGG,(SBF,SIJ)))),SGC)),(((SD,SBAA),(SJG,(SGE,(SJJ,(SEG,SDD))))),SIB)),(SJF,(SCI,SBJ)))),(((((SF,SCF),((SDG,SBI),((SFE,SGJ),(SEI,SFB)))),(((SFF,((SCA,SBE),SBH)),SGB),(((SDE,SEF),SC),(SHJ,SIA)))),((SIH,SDF),SED)),(((SII,((((SGF,(SCH,SFI)),(SJA,SH)),SHD),(SJC,SIG))),((SEA,SCD),(SIF,SGH))),((((SBD,((((SHE,SDH),((SJD,SEJ),SBA)),(SG,SDA)),SB)),((SJB,SFH),(SJ,SBB))),(SIC,(SFC,SFD))),((((SJH,SIE),SDB),(SI,(((SHH,SDC),SCC),SHG))),((SGA,(SHA,SCE)),(SEB,SDJ)))))));
