((((((SHI,SFE),(SB,SEJ)),((((SHG,SEB),(SJA,(SCF,SGJ))),((SHA,SI),((SDI,SCB),SJE))),(SIJ,(SFG,SIA)))),(((SDB,((SCD,((SCG,(SBH,(SEF,SIG))),(SBG,SBI))),(SDE,SFC))),SF),((SJC,SII),((SBC,SE),SJG)))),(((((SHF,SEI),SBJ),((SGG,SFD),SFH)),(SIE,SJI)),((SGI,(((SBA,SIB),SHB),SG)),(SDG,SH)))),(((((SGC,SDF),(SJD,SGH)),((SHH,SCI),((SEA,SC),SHD))),(SID,((SCH,(SDH,SFA)),(SBAA,SGE)))),(((((SDJ,SDD),(SIC,(SCJ,SFJ))),(SGD,(((SIH,SJH),SDA),SED))),((SHE,SGB),((SJ,((SEH,SJB),SEC)),((((SBD,SDC),((SHJ,(SGF,SEE)),SGA)),(((SJF,SFF),(SCA,SBE)),(SHC,(SCE,SEG)))),SCC)))),((SFI,SJJ),(((SIF,(SFB,SBB)),SBF),SD)))));
