(((((SCH,SIC),SHH),SEB),(SDA,((SCA,SEC),SCI))),((((SC,(((SBG,SCE),SHB),((SBD,SG),SHC))),((SJC,SE),((((SIH,SCG),(SCD,SFA)),SBF),SBB))),(((SIB,(SBI,SFD)),(((((SJG,SCC),SHF),(SGE,(SDE,SGC))),(SIE,SGD)),(((SJH,SBJ),SGF),SII))),(((SIJ,(((((SFJ,(SFH,SED)),SJF),((SDH,SIA),SEI)),(SGB,SJJ)),SHE)),(SHJ,SB)),((SGI,((SF,SEG),(SEF,SFG))),SIF)))),((((SBE,SFE),SHG),SJB),((((((((SFB,SI),SEE),((SJ,SBH),SIG)),(((SCB,SDJ),SCF),(SDF,SH))),(SID,((SDB,SDI),SEA))),((SDD,SJI),SDG)),SHA),((SGJ,((SEJ,SGH),(SFC,(SJA,SDC)))),(SFI,(((SFF,SCJ,(SEH,SGA)),(((SBA,SHD),SBC),(SHI,SJD))),(SBAA,(SJE,(SGG,SD))))))))));
